extends ../layouts/common

block content

	div(class="container")
		h1 Users

		a(href="/users/create") New users
		form(action="/users/search", method= "GET", class="form-inline")
			input(type="text" name="q" required, class="form-control")
			button(class="btn btn-primary ml-2") Search

		table.table
			tr
				td Name
				td Phone
				td Action
			each user in users
				tr
					td= user.name
					td= user.phone
					td
						a.btn.btn-light(href="/users/" + user.id) View